<!DOCTYPE html>

<head>
    <title>Welcome to Vue</title>
    <meta charset="utf-8">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <style>
        body {
            width: 100%;
            height: 100%;
            font-family: monospace;
        }
        
        .controls {
            position: fixed;
            top: 16px;
            left: 16px;
            background: #f8f8f8;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
        }
        
        .controls>*+* {
            margin-top: 1rem;
        }
        
        label {
            display: block;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="controls">
            <div>
                <label>Adjust width</label>
                <input type="range" v-model="settings.width" :min="circle.d" max="960" />
            </div>
            <div>
                <label>Adjust height</label>
                <input type="range" v-model="settings.height" :min="circle.d" max="1000" />
            </div>
            <div>
                <label>Stroke color</label>
                <input type="color" v-model="settings.strokeColor" />
            </div>
        </div>
        <svg v-bind:width="settings.width" v-bind:height="settings.height">
            <circle :cx="circle.cx" :cy="circle.cy" :r="circle.r" v-bind:fill="settings.strokeColor"></circle>
        </svg>
    </div>
    <script type="text/javascript">
        new Vue({
            el: "#app",
            data: function() {
                return {
                    settings: {
                        csv: null,
                        strokeColor: "#29B5FF",
                        width: 960,
                        height: 1000
                    }
                };
            },
            mounted: function() {
                var that = this;
                d3.csv("template-data.csv",
                    function(error, data) {
                        if (error) throw error;
                        that.csv = data;
                    }
                );
            },
            computed: {
                circle: function() {
                    return {
                        cx: this.settings.width / 2,
                        cy: this.settings.height / 2,
                        r: 50,
                        d: 100
                    }
                }
            },
            methods: {

            }

        });
    </script>
</body>